body {
  margin: 0;
  padding: 0;
}

header .me-auto.navbar-nav {
  margin-right: 0 !important;
}

main {
  max-width: 1200px;
  margin: auto;
} 

main form {
  max-width: 600px;
  margin: 40px auto;
  background: #e8e6e8;
  border-radius: 20px;
  padding: 40px;
}

main form h3 {
  display: flex;
  margin: 0 auto 20px;
  justify-content: center;
}

main form .btn {
  display: flex;
  margin: auto;
}


ul {
  padding: 0;
  margin: auto;
  list-style: none;
}

:required {
  border-color: red;
}

section {
  background: rgb(213, 213, 213);
  padding: 20px;
  border-radius: 20px;
  margin: 15px auto;
}

.container_search {
  display: flex;
  margin: 10px auto;
}

.container_search .btn {
  margin: auto 10px;
}

.spinner-grow {
  display: flex;
  margin: auto;
}

section button {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  padding: 10px 20px;
  margin: auto;
  border-radius: 10px;
}



.missings {}

.missingpets .container-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  margin: auto;
  justify-content: center;
}

.missingpets .card {
  margin: 8px;
  width: 16rem !important;
}

.missingpets .card-img-top {
  border-bottom: 1px solid #eeeeee;
  min-height: 121px;
  height: 100%;
}

.shelters {}

.donations {}



@media(max-width: 640px) {
  main form {
    padding: 40px;
    margin: 40px 15px;
  }
  .menu-container {
    position: absolute;
    background: #00000050;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
  }

  .menu-mobile {
    width: 80%;
    background: white;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
  }
  .menu-mobile button {
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    margin: 10px 14px;
  }

  .menu-mobile section {
    background: white;
  }

  .menu-mobile section a {
    padding-left: 10px;
    font-weight: 100;
  }
}